<ion-view ng-controller="ChatController as chatCtrl" class="light-grey" title="{{receiverNick}}" cache-view="false" >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-contacts">{{$root.newMessages}}</button>
    </ion-nav-buttons>

    <ion-content>

	  <div>

      <div ng-repeat="message in messages" class="message-wrapper">

          <div ng-if="!message.own">

              <div  class="profile-pic left" style="background-color:{{message.color}};">{{message.username.substr(0,1)}}</div>

              <div class="chat-bubble left">

                  <div class="message" ng-bind-html="message.content">
                  </div>

                  <div class="message-detail">
                       <!--   <span ng-click="viewProfile(message)"
                                class="bold">data</span>,-->
                      <span am-time-ago="message.date"></span>
                  </div>

              </div>
          </div>

          <div ng-if="message.own">

              <div  class="profile-pic right" style="background-color:#158FFE;">{{message.username.substr(0,1)}}</div>

              <div class="chat-bubble right">

                  <div class="message" ng-bind-html="message.content" autolinker>
                  </div>

                  <div class="message-detail">
                         <!-- <span
                                class="bold">{{message.date | date:'MM/dd/ hh:mma'}}</span>,-->
                      <span am-time-ago="message.date"></span>
                  </div>

              </div>

          </div>

          <div class="cf"></div>
        </div>

      </div>
    </ion-content>
        	<div class="list light-grey bottommsg">
		<div class="item item-input-inset light-grey">
		  <label  class="item-input-wrapper line-light-grey nopadtop">
		    <input class="line-light-grey"  type="text"  placeholder="Message" ng-enter="chatCtrl.sendMessage()" ng-model="chatCtrl.message">
		  </label>
      <!-- ng-change="chatCtrl.updateTyping()" -->
            <!--<i class="icon ion-android-attach iconsend"></i>-->
		  <div class="divsend">
			    <button class="button button-balanced ion-android-send iconsend" ng-click="chatCtrl.sendMessage()"></button>
		  </div>
		</div>
	</div>

 </ion-view>
