<ion-view ng-controller="ContactController as contacts" class="light" title="Contacts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="contacts.showAddContactMenu()" class="button button-icon icon ion-plus-circled"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list can-swipe="true" ahow-delete="true">
      <div ng-show="isEmpty(contacts.contacts)">
        <h2 class="light">
          You have no contacts, add them with the "plus" icon in the top right
        </h2>
      </div>
      <ion-item ui-sref-active="active" ng-repeat="contact in contacts.contacts" class="item-thumbnail-left" href="#/chat/{{contact.nickname}}">

        <div class="item-image" style=background:{{contact.color}};width:50px;height:50px;"></div>
        <h2>{{contact.nickname}}</h2>
        <p>{{contact.queuedMessages.length}} new message</p>
        <ion-option-button class="button-info"
                           ng-click="contacts.ring(contact)">
          Ring him
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="contacts.edit(contact)">
          Edit
        </ion-option-button>
        <ion-option-button class="delete"
                           ng-click="contacts.remove(contact.nickname)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>




    <script id="view-pairing-qr-modal.html" type="text/ng-template">

      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Pairing code</h1>
        </ion-header-bar>
        <ion-content>
          <qr text="qrData"></qr>
        </ion-content>
      </ion-modal-view>
    </script>

  <!--
    <button type="submit" ng-click="contacts.addFromPairingQr()" class="button icon-right ion-chevron-right button-block button-positive">
      Add contact from QR code
    </button>
    <button type="submit" ng-click="contacts.addFromPairingQr()" class="button icon-right ion-chevron-right button-block button-balanced">
      Generate QR code
    </button>
    <button type="submit" ng-click="contacts.addFromPairingQr()" class="button icon-right ion-chevron-right button-block button-energized">
      Add contact manually
    </button>
  -->

    <script id="add-contact-form-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-balanced">
          <h1 class="title">Add new contact</h1>
        </ion-header-bar>
        <ion-content class="light">
          <form novalidate="novalidate" class="padding" on-valid-submit="contacts.mode == 'Manual add' ? contacts.addNewContact() : contacts.showPairingQr()">
            <div class="list card">
              <div class="item item-divider">Enter receiver info:</div>
              <label class="item item-input item-floating-label" validated="">
                <span class="input-label">Name</span>
                <input type="text"  ng-model="contacts.nickNameToAdd" name="nickNameToAdd" placeholder="What is his name?" required="required">
                <i class="icon ion-alert-circled error"></i>
              </label>

              <div ng-if="contacts.mode == 'Manual add'">
                <label class="item item-input item-floating-label" validated="">
                      <span class="input-label">Password</span>
                      <input type="password" ng-trim="true" ng-model="contacts.secret" name="password" placeholder="What is your secret keyword?" required="required">
                      <i class="icon ion-alert-circled error"></i>
                  </label>
                <button type="submit" class="button icon-right ion-chevron-right button-block button-balanced">
                  Add new contact
                </button>
              </div>
              <div ng-if="contacts.mode != 'Manual add'">
                <button type="submit" class="button icon-right ion-chevron-right button-block button-balanced">
                  Show pairing code
                </button>
              </div>

            </div>

            <div class="padding">

            </div>
            <button ng-hide="contacts.mode != 'edit'" type="submit" class="button icon-right ion-chevron-right button-block button-balanced">
              {{contacts.mode}}
            </button>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>


  </ion-content>
</ion-view>

