<ion-view ng-controller="LoginController as logcntrl" title="{{logcntrl.mode}}" class="light">
    <ion-nav-buttons>

    </ion-nav-buttons>

    <ion-content scroll="false">
        <div class="list list-inset light">
            <div class="item light">
                <span ng-show="logcntrl.mode == 'register'">
                    Enter a nickname and draw your desidered secret code
                </span>
                <span ng-show="logcntrl.mode == 'login'">
                    Draw your secret code
                </span>
            </div>
            <div id="password" name="password" class="patternlock" ></div>

            <form novalidate="novalidate" class="padding" on-valid-submit="logcntrl.join()" ng-hide="logcntrl.mode != 'register'">
                <label class="item item-input item-floating-label linegrey" validated="">
                    <span class="input-label">Name</span>
                    <input type="text" required="required" class="linegrey white" placeholder="What is your nickname?" ng-model="logcntrl.nickname"/>
                    <i class="icon ion-alert-circled error"></i>
                </label>

                <button class="button button-block button-grey" ng-hide="logcntrl.mode != 'register'">Join</button>
            </form>
        </div>
    </ion-content>

    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-assertive">
                <h1 class="title">Login Failed</h1>
            </ion-header-bar>
            <ion-content class="light">
                <div ng-if="failedLogins < 3">
                    Wrong password!
                    <button class="button button-block button-grey" ng-click="logcntrl.closeModal()">Ok, i'll try again</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>
