<ion-view ng-controller="SettingsController as setCntrl" class="light" title="Settings" ng-init="init()">
    <ion-content>
        <div class="list list-inset light">
            Nickname
            <label class="item item-input linegrey" >
                <input type="text" class="linegrey white" placeholder="What is your nickname?" ng-model="setCntrl.nickName">
            </label>
            <button class="button button-block button-grey" ng-click="setCntrl.save()">Save</button>
        </div>
    </ion-content>
</ion-view>

