<!DOCTYPE html>
<html ng-app="securegram">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <link rel="stylesheet" type="text/css" href="lib/patternLock/patternLock.css">

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/patternLock/patternLock.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ionic-service-core/ionic-core.js"></script>
    <!-- <script src="lib/ionic-service-deploy/ionic-deploy.js"></script>-->
    <script src="lib/ionic-service-push/ionic-push.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!--socket io client library-->
    <script src="lib/socket.io-client/socket.io.js"></script>

    <!-- Other Libraries-->

    <script src="lib/ngstorage/ngStorage.min.js"></script>

    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>

    <script src="lib/aes/aes.js"></script>

    <script src="lib/angular-cryptography/mdo-angular-cryptography.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>

    <script type="text/javascript" src="lib/qrcode/lib/qrcode.min.js"></script>
    <script type="text/javascript" src="lib/angular-qr/angular-qr.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/services/cryptoStorage.js"></script>
    <script src="js/services/socket.js"></script>

    <script src="js/directives.js"></script>

    <script src="js/controllers/AppController.js"></script>
    <script src="js/controllers/ChatController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/SettingController.js"></script>
    <script src="js/controllers/ContactController.js"></script>


  </head>
  <body ng-controller="AppController">

    <!--
      The nav bar that will be updated as we navigate between views.

    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).

    <ion-nav-view></ion-nav-view>
  -->


    <ion-side-menus enable-menu-with-back-view="true">

      <!-- Left menu -->
      <ion-side-menu side="left" enable-menu-with-back-view="true">
        <header class="bar bar-header bar-dark">
          <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
          <ion-list>
            <ion-item menu-close="" href="#/contacts">
              <i class="icon ion-android-contacts"></i>
              Contacts
            </ion-item>
            <ion-item menu-close="" href="#/settings">
              <i class="icon ion-android-settings"></i>
              Settings
            </ion-item>
            <ion-item menu-close="" href="#/exit">
              <i class="icon ion-android-exit"></i>
              About
            </ion-item>
            <ion-item menu-close="" href="#/exit">
              <i class="icon ion-android-exit"></i>
              Exit
            </ion-item>
          </ion-list>

        </ion-content>
      </ion-side-menu>

      <ion-side-menu side="right" ng-controller="ContactsMenuController">
        <header class="bar bar-header bar-dark">
          <h1 class="title">Contacts</h1>
        </header>
        <ion-content class="has-header">
          <ion-item menu-close="" ng-repeat="contact in contacts" class="item-thumbnail-left" href="#/chat/{{contact.nickname}}">

            <div class="item-image" style="background:{{contact.color}};width:50px;height:50px;" "="">
            <i class="icon ion-android-chat" ng-hide="contact.queuedMessages.length == 0" style="  font-size: 32px;
  line-height: 55px;"></i></div>
            <h2>{{contact.nickname}}</h2>

            <p>{{ contact.queuedMessages.length }} new message</p>

          </ion-item>



        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">

          <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="showFilterBar()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

      </ion-side-menu-content>
    </ion-side-menus>

  </body>
</html>
