
/*Custom Color*/
.button.button-grey {
    border-color: #585858;
    background-color: #585858;
    color: #fff; }
    .button.button-grey:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-grey.active, .button.button-grey.activated {
      border-color: #585858;
      background-color: #686868;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
    .button.button-grey.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #585858; }
    .button.button-grey.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-grey.button-outline {
      border-color: #585858;
      background: transparent;
      color: #585858; }
      .button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
        background-color: #585858;
        box-shadow: none;
        color: #fff; }

/*End*/

.light{
	background-color: #2E2E31;
}

.linegrey{

	background-color: #2E2E31;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.top180{
	margin-top: 180px;
}

input.white{
	font-size:18px;
}

.right8{
	right: 8px;
}

.light-grey{
	background-color: #EDEBEE;
	border:0px;
}

.line-light-grey{
	background-color: #EDEBEE;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.bottommsg{
	position: fixed;
	bottom:0px;
	width: 100%;
}

.divsend{
	background-color:#D5D5D9;
	margin-left: 7px;
}

.iconsend{
	font-size: 18px;
}

.width70{
	width: 75%;
	margin-right:0px;
}

.log{
	text-align:center;
	font-size: 13px;
	color: #8A8A8A;
	padding: 7px 14px 7px 14px;

}

.message{
	padding: 7px 14px 7px 14px;
    font-size: 16px;
}

.nopadtop{
padding-top: 0px;
}

.content{
	bottom:68px;
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

div.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;

    bottom: -20px;

    text-align: center;
    padding-top: 12px;
    font-size: 25px;
    font-weight: bold;
    padding-right: 1px;

    line-height: 18px;
    text-transform: uppercase;
}

div.profile-pic.left {
    left: 10px;
}

div.profile-pic.right {
    right: 10px;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
   /* clear: both;*/
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

/* loading */
.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loader .ion-loading-c {
    font-size: 64px;
}



form i.icon.error {
    color: #ef4e3a; }

form input + i.icon.error {
    display: none;
    margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
    display: block;
    font-size: 24px;
    position: absolute;
    right: 25px;
    top: 35px;
}

form label.item.has-error {
    border-left: 5px solid #cc2511; }

form label.item.has-success {
    border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
    display: none; }


.item-image{
    border-radius: 50%;
}


/*******/

qr{
  margin-left: 39%;
}

#password {
  background: none;
}

form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
  font-size: 24px;
  position: absolute;
  right: 25px;
  top: 35px;
}

form label.item.has-error {
  border-left: 5px solid #cc2511; }

form label.item.has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }


.item-image{
  border-radius: 50%;
}
